<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
         <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>
         </head>
    <body>
        <div align="center">
            <h1>Create new product</h1>
            <br/>
            <form action="#" th:action="@{/save}" th:object="${product}" method="post">
                <input type="text" th:field="*{id}" readonly="readonly"/>
                <input type="text" th:field="*{name}"/>
                <input type="text" th:field="*{spec}"/>   
                <input type="text" th:field="*{price}"/>
                    <button type="submit">save</button>
            </form>
        </div>
        <script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
         <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
    </body>
</html>
